body {
  background:  #d0bdf4;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #001f25;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #e7e4e4 !important;  /* brown red */
}

.site-header .navbar-nav .nav-link {
  color: #ffffff !important;   /* changed to white */
}

.site-header .navbar-nav .nav-link:hover {
  color: #f0e6d6 !important;   /* light white hover */
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #eeeeee;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #48b7d3;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

body {
  border: 5px solid rgb(177, 180, 223) !important;
}

.bg-steel {
  background-color: #04297a !important;   /* brown red */
}

.site-header {
  background-color: #ffffff !important;   /* force same color behind navbar */
}

nav.navbar {
  background-color: #000250 !important;
}

/* NEW: Make brand text white too */
.site-header .navbar-brand {
  color: #ffffff !important;
}

.site-header .navbar-brand:hover {
  color: #f0e6d6 !important;
}


