{% extends "itreporting/base.html" %}
{% load static %}


  
{% block content %}
<h1>Welcome to SHU Contact</h1>

<div>
    <section class="contact-form">
        <h2>Contact Us</h2>
        <p>If you have any questions or queries, please fill out this form below</p>

        <form action="mailto:your@email.com" method="post" enctype"text/plain">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" required>

            <label for="email">Email</label>
            <input type="text" id="email" name="email" required>

            <label for="subject">Subject</label>
            <input type="text" id="subject" name="subject" required>

            <label for="message">Message</label>
            <input type="text" id="message" name="message" rows="5" required></textarea>


            <button type="submit">Send Message</button>
        </form>
      </section>
<div>



{% endblock %}