{% extends "itreporting/base.html" %}
{% load static %}


  
{% block content %}
<h1>Welcome to SHU Contact</h1>

<div>

    
    <section class="content-section">
        <h2>Contact Us</h2>
        <p>If you have any questions or queries, please fill out this form below.</p>

        <form class="contact-form" action="mailto:your@email.com" method="post" enctype="text/plain">

            <label for="name">Name</label>
            <div> <input type="text" name="name" maxlength="150" class="textinput form-control" id="id_name" required> </div>


            <label for="name">Email</label>
            <div> <input type="text" name="email" maxlength="150" class="textinput form-control" id="email" required> </div>


            <label for="name">Subject</label>
            <div> <input type="text" name="subject" maxlength="150" class="textinput form-control" id="email" required> </div>


            <label for="name">Message</label>
            <div> <textarea name="message" rows="5" maxlength="150" class="textinput form-control" id="message" required></textarea> </div>

            <button type="submit">Send Message</button>
        </form>
      </section>
<div>



{% endblock %}