<!DOCTYPE html>
{% load static %}

<html>
<head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
    <title>IT Issues Reported</title>
</head>
<body>
    <h1>IT Issues Reported</h1>

   
    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
            <div class="container">
            <a class="navbar-brand mr-4" href="{% url 'itreporting:home' %}">Student IT Services</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
                aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
                <div class="navbar-nav mr-auto">
                    <a class="nav-item nav-link" href="{% url 'itreporting:home' %}">Home</a>
                    <!-- <a class="nav-item nav-link" href="{% url 'itreporting:about' %}">About</a>
                    <a class="nav-item nav-link" href="#">Report</a> -->
                   <!--<a class="nav-item nav-link" href="{% url 'itreporting:contact' %}">Contact</a> -->
                   <a class="nav-item nav-link" href="{% url 'itreporting:report' %}">Report</a>
                </div>
                <!-- Navbar Right Side -->
                <div class="navbar-nav">
                    {% if user.is_authenticated %}
                    <a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
                     <form method="post" id="frm_logout" action="{% url 'logout' %}" style="display:inline;">
                      {% csrf_token %}
                       <button type="submit" class="nav-item nav-link" style="background:none; border:none; cursor:pointer;">Logout</button>
                                                </form>
                     {% else %}
                      <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                     <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
                      {% endif %}
                      </div>
                    

                </div>
            </div>
            </div>
        </nav>


        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="#">{{ object.author.profile }}</a>
                    <small class="text-muted">{{ object.date_submitted }}</small>
                </div>
                <h2 class="article-title">{{ object.type    }} Issue in Room {{object.room}}</h2>
                <p class="article-content">{{ object.details }}</p>
                        {% if object.author == user %}

                            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'itreporting:issue-update' object.id %}">Update</a>

                            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'itreporting:issue-delete' object.id %}">Delete</a>

                        {% endif %}

            </div>
        </article>

</body>
</html>