{% extends "itreporting/base.html" %}
{% load static %}

{% block content %}


    <h1>View Modules</h1>
    {% for issue in issues %}
        <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ issue.author.profile.image.url }}"/>
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="#">{{ issue.author.profile }}</a>
                    <small class="text-muted">{{ issue.date_submitted }}</small>
                </div>
                <h2><a class="article-title" href="{% url 'itreporting:issue-detail' issue.id %}">{{ issue.module }}</a></h2>
                <p class="article-content">Course : {{ issue.course }}</p>
                <p class="article-content">Code : {{ issue.code }}</p>
                <p class="article-content">Credit : {{ issue.credit }}</p>
                <p class="article-content">Category : {{ issue.category }}</p>
                <p class="article-content">Availability : {{ issue.availability }}</p>
                <p class="article-content">Courses Allowed To Register : {{ issue.courses_allowed_to_register }}</p>
                <p class="article-content">Description : {{ issue.description }}</p>
            </div>
        </article>
    {% endfor %}


{% endblock %}